<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="card p-4 m-3">
  <h2 class="mb-4 text-center">Kreiraj raspored</h2>
  <div class="table-responsive">
    <table class="table table-striped
    table-hover
    table-borderless
    table-primary
    align-middle">
      <thead class="table-light">

        <tr>
          <th>Instuktor  ime</th>
          <th>Instuktor prezime</th>
          <th></th>

          <th>Polaznik ime</th>
          <th>Polaznik Prezime</th>
          <th></th>
          <th>Dodeli raspored</th>
          <th>Preostali casovi</th>
          <th>Ukloni sa spiska</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">

          <tr class="table-primary" *ngFor="let item of userpolaznik">
            <td>{{item.polaznikIme}}</td>
            <td>{{item.polaznikPrezime}}</td>
            <br>
            <td>{{item.instruktorIme}}</td>
            <td>{{item.instruktorPrezime}}</td>
            <!-- <td> <button class="btn btn-primary" (click)="dodeliraspored()">Dodeli raspored</button></td> -->
            <br>
            <td>
              <button class="btn btn-primary " (click)="openRasporedUnos(item.instruktorId, item.polaznikId)">Dodeli raspored</button>
            </td>

            <td>
              <button type="button" class="btn btn-outline-primary" style="color: black;">  {{item.brojCasova}}</button>


            </td>
            <td>
              <button class="btn btn-primary" (click)="removeRow(item)">Ukloni</button>

            </td>

          </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
  </div>
    </div>
  </div>


</body>
</html>
