.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.message-container {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 10px;
}

.table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #e6e6e6;
}

.success-message {
  font-size: 20px;
  color: green;
  margin-top: 20px;
}
.table td.date-time {
 color: #666;

}
