<div class="container">
  <div class="message-container">
    <h2>Dobrodošli na raspored časova vožnje!</h2>

    <p *ngFor="let raspored of rasporedi">Dragi/a {{ raspored.polaznikImePrezime }},</p>

    <p>Uspješno vam je dodeljen raspored časova vožnje. Ovo je vaš plan obuke koji će vam pomoći da postanete siguran i vešt vozač. Verujemo da ćete sa stručnim instruktorima imati izuzetno korisne časove i postići značajan napredak u vožnji.</p>
    <p>Trudite se da maksimalno iskoristite svaki čas i da aktivno učestvujete u obuci. Na taj način ćete brže napredovati i stvoriti osnovu za uspešno polaganje vozačkog ispita.</p>

    <p>Ako imate bilo kakva pitanja ili nedoumice u vezi rasporeda ili obuke, slobodno se obratite svom instruktoru ili kontaktirajte našu auto-školu.</p>

    <p>Želimo vam mnogo uspeha u vašoj vozačkoj obuci i uživajte u svakom času vožnje!</p>
  </div>

<table class="table">
  <thead>
    <tr>
      <th>Datum i vreme</th>
      <th>Instruktor</th>
      <th>Komentar o uspesnosti</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let raspored of rasporedi">
      <td>{{ raspored.datumVreme | date:'dd.MM.yyyy HH:mm' }}</td>
            <td>{{ raspored.instruktorImePrezime }}</td>
            <td>{{ getOceneByPolaznikId(raspored.id) }}</td>
    </tr>
  </tbody>
</table>
</div>

<app-footer></app-footer>
