<div class="container1">
  <div class="message-container">
    <h2>Dobrodošli na raspored časova vožnje!</h2>

    <p >Dragi/a Instukote</p>

    <p>Uspješno vam je dodeljen raspored časova vožnje. Ovo je vaš plan obuke.Želimo da vam sa zadovoljstvom saopštimo da ste deo naše izvanredne ekipe instruktora. Vaša stručnost, predanost i posvećenost su nezamenjivi učinci koje donosite našoj auto-školi.</p>
    <p>Napredak i zadovoljstvo naših polaznika su u velikoj meri rezultat vašeg rada i predanosti.

      Vaša uloga kao instruktora je dragocena za našu auto-školu. Nastavite da inspirišete naše polaznike i prenosite im znanje i veštine koje će im pomoći da postanu sigurni i odgovorni vozači.</p>
      <p> Hvala vam što ste deo našeg tima instruktora.</p>
<p>Vaša stručnost i predanost doprinose našem zajedničkom cilju - obučavanju sigurnih i odgovornih vozača.</p>
     <p>Želimo vam mnogo uspeha u vašoj katijeri uživajte u svakom času vožnje!</p>
  </div>
</div>
<!-- <div class="container1">
<table class="table">
  <thead>
    <tr>
      <th>Datum i vreme</th>
      <th>Polaznik</th>
      <th></th>
      <th>Održan čas</th>
      <th>Nije održan čas</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let raspored of rasporedi">
      <td class="date-time">{{ raspored.datumVreme | date:'dd.MM.yyyy HH:mm' }}</td>
            <td>{{ raspored.polaznikImePrezime }}</td>
            <td>
              <td>
                <button type="button" class="btn btn-primary" (click)="oceniCas(raspored.id); obrisiRaspored(raspored.id)">Realizovan čas</button>
              </td>

              <td>
                <button type="button" class="btn btn-primary" (click)="neodrzancas(); obrisiRaspored(raspored.id)">Nije održan cas</button>
              </td>

    </tr>
  </tbody>
</table>
</div> -->


<div class="container">
  <div class="row">
    <div class="table-responsive" >
      <div class="col-12 mb-1 mb-lg-2" >
          <div class="card table-nowrap table-card" style="overflow-x: scroll; min-width: 400px;">
              <div class="card-header d-flex justify-content-between align-items-center">
                  <h5 class="mb-0">Korisnici</h5>
              </div>
                  <table class="table mb-0">
                      <thead class="small text-uppercase bg-body text-muted">
                          <tr>
                            <th>Datum i vreme</th>
                            <th>Polaznik</th>
                            <th class="text-end">Održan čas</th>
                            <th class="text-end">Nije održan čas</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr class="align-middle" *ngFor="let raspored of rasporedi"  >
                              <td>{{ raspored.datumVreme | date:'dd.MM.yyyy HH:mm' }}</td>
                              <td>{{ raspored.polaznikImePrezime }}</td>
                                       <td class="text-end">
                                  <div class="drodown">
                                    <button type="button" class="btn btn-primary" (click)="oceniCas(raspored.id); obrisiRaspored(raspored.id)">Realizovan čas</button>
                                  </div>
                              </td>
                              <td class="text-end">
                                <div class="drodown">
                                  <button type="button" class="btn btn-primary" (click)="neodrzancas(); obrisiRaspored(raspored.id)">Nije održan cas</button>
                                </div>
                            </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      <ng-template #emptyList>
        <h1 style="display: flex; justify-content: center; margin-top: 20%;" >The list is empty</h1>
      </ng-template>
  </div>


</div>


<app-footer></app-footer>
