<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section id="learn" class="p-5">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
            <img src="{{ imagePaths[0] }}" alt="" class="img-fluid">
        </div>
        <div class="col-md p-10">
          <h2 class="text-center">
            Dobrodošli u svijet vožnje </h2>
          <p class="lead" style="text-align: center; font-size: 1.2rem;font-weight:initial;">
            U našoj auto školi posvećeni smo pružanju najkvalitetnije vozačke edukacije i stvaranju sigurnih vozača koji su spremni za sve izazove na cestama. S ponosom ističemo našu stručnost, iskustvo i predanost pružanju vrhunskog obrazovanja u vožnji.

            Naš tim stručnih instruktora ima bogato iskustvo u podučavanju vožnje i strast prema dijeljenju znanja s našim polaznicima. Svaki instruktor je visoko kvalificiran i posvećen pružanju individualne podrške i prilagođavanju nastavnog programa prema potrebama svakog polaznika.


            Uz profesionalnu edukaciju, stvaramo poticajno okruženje u kojem se polaznici osjećaju ugodno i motivirano za učenje. Naš cilj je stvoriti samouvjerene vozače koji su svjesni svojih odgovornosti na cestama i koji će pridonijeti sigurnosti i prometnoj kulturi.
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid">
    <h1 class="text-center mt-5 display-3 fw-bold">Tu smo za vas</h1>
    <hr class="mx-auto mb-5 w-25">
    <div class="row mb-5">
      <div class="col-12 col-sm-6 col-md-3 m-auto">
        <div class="card shadow">
          <img src="{{ imagePaths[1] }}" alt="" class="card-img-top">
          <div class="card-body">
            <h3 class="text-center">Profesionalni Instruktori</h3>
            <hr class="mx-auto w-75">
            <p class="text-center">Naš tim profesionalnih instruktora posvećen je pružanju najbolje vozačke edukacije. Oni su visoko iskusni i posvećeni tome da vam pomognu da postanete samouvereni i sigurni vozač.
              Svaki polaznik ima jedinstvene potrebe i ciljeve. Zbog toga pružamo prilagođene programe obuke koji se prilagođavaju vašem tempu učenja i osiguravaju da dobijete najbolje rezultate.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3 m-auto">
        <div class="card shadow">
          <img src="{{ imagePaths[2] }}" alt="" class="card-img-top">
          <div class="card-body">
            <h3 class="text-center">Prilagođeni Programi Obuke</h3>
            <hr class="mx-auto w-75">
            <p class="text-center">Nudimo prilagođene programe obuke koji odgovaraju vašim potrebama i ciljevima. Bez obzira da li ste početnik ili želite usavršiti svoje vozačke veštine, pružamo vam podršku i resurse za postizanje uspeha na putu do vozačke dozvole.

Svakim korakom, približavate se neovisnosti za volanom.
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3 m-auto">
        <div class="card shadow">
          <img src="{{ imagePaths[3] }}" alt="" class="card-img-top">
          <div class="card-body">
            <h3 class="text-center">Sigurnost na Putu</h3>
            <hr class="mx-auto w-75">
            <p class="text-center">Vaša sigurnost nam je prioritet. Učimo vas pravilima, tehnikama i veštinama koje će vam pomoći da se bezbedno nosite sa izazovima na putu i postanete odgovoran vozač.
              Shvatamo da imate zauzet raspored. Zbog toga nudimo fleksibilne termine obuke kako bismo se prilagodili vašim obavezama i osigurali da obuka odgovara vašem vremenskom rasporedu.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>

<app-footer></app-footer>
