.container {
  max-width: 500px;
  margin: 20px auto;
  background-color: silver;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-outline {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.form-label {
  font-weight: bold;
  text-align: center;
}

.form-select {
  flex: 1;

}

.form-check {
  margin-bottom: 1rem;
}

.btn-primary {
  margin-top: 1rem;
}
#poruka {
width: 80vh;
margin: 0 auto;
justify-content: center;
}
.selected-instructor {
  margin-top: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.selected-instructor .instructor-info {
  font-weight: bold;
}

.alert {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}
