<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <form [formGroup]="forma" class="text-center">
    <div class="alert alert-dark" role="alert" *ngIf="error">
      {{errorMsg}}
    </div>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Email adresa</label>
      <input type="email" id="form2Example1" class="form-control" formControlName="email" />
    </div>
    <div *ngIf="email?.touched && email?.invalid">
      <p class="alert alert-danger" *ngIf="email?.errors?.email">
        Molim unesite validnu email adresu.</p>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Šifra</label>
      <input type="password" id="form2Example2" class="form-control" formControlName="password" />
    </div>

    <div *ngIf="password?.touched && password?.invalid"></div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-start">
        <a href="http://infromacioni-001-site1.ctempurl.com/forgot-password">Zaboravljena lozinka?</a>
      </div>
    </div>

    <!-- Submit button -->
    <div class="text-center">
      <button type="button" class="btn btn-primary" style="width: 150px; margin: 0 auto;margin-top: 30px;" (click)="login()">Login</button>
    </div>

    <!-- Register buttons -->
    <div class="text-center">
      <p>Niste član? <a href="http://infromacioni-001-site1.ctempurl.com/register">
        Registracija</a></p>
    </div>

  </form>
<app-footer></app-footer>
</body>
</html>
