<div class="container">
  <div class="card p-4 m-2">
    <div class="row">
      <!-- Prikaz odsustva instruktora -->
      <div class="col-md-5" style="display: flex; align-items: center;">
        <div *ngIf="odsustvaInstruktora && odsustvaInstruktora.length > 0">

          <div>
            <div style="display: flex; align-items: center;">
              <h5 style="margin-right: 10px;">Odsustva instruktora:</h5>
              <button type="button" class="btn btn-primary" (click)="brisiodsustnostzainstuktora()">Brisi odsustva</button>
            </div>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th>Razlog</th>
                <th>Datum odsustva</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let odsustvo of odsustvaInstruktora">
                <td>{{ odsustvo.razlog }}</td>
                <td>{{ odsustvo.datumOdsustava | date:'dd.MM.yyyy'}}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Unos rasporeda -->
      <div class="col-md-6">
        <div class="raspored-unos-container">
          <h5>Izaberite datum i vreme</h5>
          <div>
            <label>Datum:</label>
            <input type="date" [(ngModel)]="selectedDate">
          </div>
          <div>
            <label>Vreme:</label>
            <input type="time" [(ngModel)]="selectedTime" >
            <p class="alert alert-danger small-alert" *ngIf="zauzetoVremeError" style="margin-top: 20px;">Zauzeto vreme</p>

          </div>
          <button (click)="dodeliRaspored()">Dodeli raspored</button>
        </div>
      </div>


    <div class="col-md-6" style="display: flex; align-items: center;">
    <!-- Prikaz odsustva polaznika -->
    <div *ngIf="odsustvaPolaznika && odsustvaPolaznika.length > 0" >

      <div>
        <div style="display: flex; align-items: center;">
          <h5 style="margin-right: 10px;">Odsustva polaznika:</h5>
          <button type="button" class="btn btn-primary" (click)="brisiodsustnostzapolaznika()">Brisi odsustva</button>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Razlog</th>
            <th>Datum odsustva</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let odsustvo of odsustvaPolaznika">
            <td>{{ odsustvo.razlog }}</td>
            <td>{{ odsustvo.datumOdsustava | date:'dd.MM.yyyy' }}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-16 " style="display: flex; " id="enlarged-div">
    <div class="raspored-unos-container text-center" style="margin-bottom: 20px; width: 500px;">
      <div>
        <label>Datum:</label>
        <input type="date" [(ngModel)]="selectedDate">
      </div>

      <button (click)="filter()" class="filter-button">Filtriraj</button>

      <div *ngIf="filtriraniRasporedi.length > 0" class="filter-results">

        <ul>
          <li *ngFor="let raspored of filtriraniRasporedi">
            <p>Datum: {{ raspored.datumVreme  | date:'dd.MM.yyyy HH:mm'}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

<table class="custom-table">

  <thead>
    <tr>
      <th>Polaznik</th>
      <th>Instruktor</th>
      <th>Datum i vreme</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let raspored of rasporedi">
      <td>{{ raspored.polaznikImePrezime }}</td>
      <td>{{ raspored.instruktorImePrezime }}</td>
      <td>{{ raspored.datumVreme | date:'dd.MM.yyyy HH:mm' }}</td>
    </tr>
  </tbody>
</table>
</div>
<app-footer></app-footer>
