


<body>
  <nav class="navbar navbar-expand" id="custom-navbar">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['about']">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['profile']" *ngIf="user.token != ''">My profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['user-list']" >User list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['control']" >Control</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['dodela']" >Dodela </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['kategorija']" >Kreiraj Kategoriju </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['raspored']" >Kreiraj Raspored </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['odsustvo']" >Definisi odsustvo </a>
          </li>
        </ul>



         <ul class="navbar-nav">
          <li class="nav-item">
            <button type="button" class="btn btn-primary me-2" [routerLink]="['register']" *ngIf="!loginService.isLoggedIn()">Sign up</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-primary" [routerLink]="['login']" (click)="loginService.logout()" *ngIf="loginService.isLoggedIn()">Logout</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-primary" [routerLink]="['login']" *ngIf="!loginService.isLoggedIn()" id="loginButton">Login</button>
          </li>
        </ul>
      </div>
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Collapsed content</h5>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>
    </div>
  </nav>
</body>

