<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;"  id="registerForm">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-6 order-2 order-lg-1"  >

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registracija</p>
                <div *ngIf="registered" class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  <div class="alert alert-success small-alert"> Uspešno ste se registrovali!</div>
                </div>

                <div *ngIf="error" class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  <div class="alert alert-danger small-alert">{{response}}</div>
                </div>

                <form class="mx-1 mx-md-4" [formGroup]="registerForm">

                  <div class="d-flex flex-row align-items-center mb-4" >
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c">Vaše ime</label>
                      <input type="text" id="form3Example1c" class="form-control" formControlName="name" />
                    </div>
                  </div>
                  <div *ngIf="name?.touched && name?.invalid">
                    <p class="alert alert-danger small-alert " *ngIf="name?.errors?.required">Ime je obavezno polje</p>
                    <p class="alert alert-danger small-alert" *ngIf="name?.errors?.minLength">Ime mora sadržavati više od 3 karaktera</p>
                    <p class="alert alert-danger small-alert" *ngIf="name?.errors?.neMozeRazmak">Ime ne sme sadržavati razmake!</p>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example3c">Vaše prezime</label>
                      <input type="text" id="form3Example3c" class="form-control"  formControlName="surname"/>
                    </div>
                  </div>
                  <div *ngIf="surname?.touched && surname?.invalid">
                    <p class="alert alert-danger small-alert" *ngIf="surname?.errors?.required">Prezime je obavezno polje</p>
                    <p class="alert alert-danger small-alert" *ngIf="surname?.errors?.minLength">Prezime mora sadržavati više od 3 karaktera.</p>
                  </div>



                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example3c">Vaš email</label>
                      <input type="email" id="form3Example3c" class="form-control" formControlName="email"/>
                    </div>
                  </div>

                  <div *ngIf="email?.touched && email?.invalid">
                    <p class="alert alert-danger small-alert " *ngIf="email?.errors?.required">Email je obavezno polje</p>
                    <p class="alert alert-danger small-alert" *ngIf="email?.errors?.email">Email mora sadržavati @</p>
                 </div>


                 <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="form3Example3c">Šifra</label>
                    <input type="password" id="form3Example3c" class="form-control" formControlName="password"/>
                  </div>
                </div>
                <div *ngIf="password?.touched && password?.invalid">
                  <p class="alert alert-danger small-alert" *ngIf="password?.errors?.required">Lozinka je obavezno polje</p>
                  <p class="alert alert-danger small-alert" *ngIf="password?.errors?.pattern">Lozinka mora sadržavati barem jedno malo slovo, jedno veliko slovo, jedan simbol i jednu cifru, i biti duža od određenog broja karaktera.</p>
               </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="form3Example3c">Potvrdite lozinku</label>
                    <input type="email" id="form3Example3c" class="form-control" formControlName="confirmPassword"/>
                  </div>
                </div>

                <div *ngIf="registerForm.get('confirmPassword')?.errors && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)">
                  <div *ngIf="registerForm.get('confirmPassword')?.errors?.required" class="alert alert-danger small-alert">Potvrda lozinke je obavezno polje</div>
                  <div *ngIf="registerForm.get('confirmPassword')?.errors?.passwordMismatch" class="alert alert-danger small-alert">Lozinke se ne podudaraju</div>
                </div>
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="form3Example3c">Vaš datum rođenja</label>
                    <input type="date" id="form3Example3c" class="form-control" formControlName="dateofbirth"/>

                  </div>
                </div>
                <div *ngIf="dateofbirth?.touched && dateofbirth?.invalid">
                  <p class="alert alert-danger small-alert" *ngIf="dateofbirth?.errors?.required">Datum rodjenja je obavezno polje</p>
                  <p class="alert alert-danger small-alert" *ngIf="dateofbirth?.errors?.pattern">Morate imati vise od 18 godina</p>
                </div>

                <div *ngIf="dateofbirth?.touched && dateofbirth?.invalid">
                  <p class="alert alert-danger small-alert " *ngIf="dateofbirth?.errors?.required">Datum rodjenja je obavezno polje</p>
                  <p class="alert alert-danger small-alert" *ngIf="dateofbirth?.errors?.pattern">Morate imati vise od 18 godina</p>

                </div>
               <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <label class="form-label" for="form3Example3c">
                    Vaš pol</label>
                  <select id="form3Example3c" class="form-control" formControlName="gender">
                    <option value="">
                      Odaberite pol</option>
                    <option value="m">Muski</option>
                    <option value="z">Zenski</option>

                  </select>
                </div>
              </div>
              <div *ngIf="gender?.touched && gender?.invalid">
                <p class="alert alert-danger small-alert " *ngIf="gender?.errors?.required">Polje pol je obavezno</p>
             </div>

             <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="form3Example3c">
                  Vaš broj telefona</label>
                <input type="text" id="form3Example3c" class="form-control" formControlName="phonenumber"/>
              </div>
            </div>
            <div *ngIf="phonenumber?.touched && phonenumber?.invalid">
              <p class="alert alert-danger small-alert " *ngIf="phonenumber?.errors?.required">Broj telefona je obavezno polje</p>
              <p class="alert alert-danger small-alert " *ngIf="phonenumber?.errors?.phoneLengthValidator()">Max broj brojeva je ogranicen na 10</p>
           </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <div class="mb-3">
                        <label for="" class="form-label">Registriraj se kao</label>
                        <select class="form-select form-select-lg" name="" id="selectRole" (change)="izaberirolu()" >
                          <option selected [value]="2">Polaznik</option>
                          <option [value]="3">Instuktor</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- <div *ngIf="id === 2">
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <div class="mb-3">
                          <label for="" class="form-label">Iaberi instuktora</label>
                          <select class="form-select form-select-lg" name="" id="selectinstuktor" (change)="izaberiinstuktora()" >
                            <option value="-1" selected>Choose instuktor</option>
                            <option *ngFor="let place of instuktori" value="{{place.id}}">{{place.ime}} {{place.prezime}}</option>
                          </select>
                        </div>
                      </div>
                    </div>

                  </div> -->

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <div class="mb-3">
                        <label for="" class="form-label">Odaberi kategoriju</label>
                        <select class="form-select form-select-lg" name="" id="selectKategorija" (change)="izaberiKategoriju()" >
                          <!-- <option selected [value]="1">A</option>
                          <option  [value]="2">D</option>
                          <option [value]="3">B</option> -->
                          <option value="-1" selected>Izaberi kategoriju</option>
                          <option *ngFor="let item of kategorije" value="{{item.id}}">{{item.tip}}</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg" id="registerButton" (click)="register()" [disabled]="registerForm.invalid">Registracija</button>
                  </div>



                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-6 d-flex align-items-center order-1 order-lg-2">

                <img src="assets/images/slika10.jpg"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

